<div class="panel panel-default devise-bs container">
  <div class="panel-body">
    <div class="panel-heading" >
      <h4 class = "text-center"><%= @user.firstname %>'s Information</h4>
    </div>
    <%= form_for(@user, html: { method: :put }) do |f| %>
      <div class="form-group">
        <label>First Name</label>
        <%= f.text_field :firstname, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :lastname, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', default: "Enter password to confirm the changes!") %>)</i>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control'  %>
      </div>
      <div><%= f.submit t('.update', default: 'Update'), class: 'btn btn-primary' %></div>
      <div><%= link_to 'Back to homepage', root_path %></div>
    <% end %>

    <div>
    </div>
  </div>
</div>