
<div class = "container jumbotron">
  <div class="col-lg-2 colm-2">
    <% if @user.trackers.count > 0 %>
      <div class="navs"><%= link_to 'Badge', root_path %></div>
    <% else %>
      <%# if (@last_log.loggin_out != nil) %>
        <div class="navs"><%= link_to 'Start', root_path %></div>
        <%# end %>
    <% end %>
    <div class="navs"><%= link_to "Logs", trackers_userlog_path %></div>
    <div class="navs">Leaves</div>
    <div class="navs">Calendar</div>
  </div>
  <div class = "panel col-lg-10 col-body">
    <div class = "panel-heading col-body-heading "><h4 class="panel-title "><%= @user.firstname %>'s Profile</h4></div>
      <table class = "table table-responsive table-bordered">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Position</th>
          <th>Client</th>
        </tr>
          <tr>
            <td><%= @user.firstname %></td>
            <td><%= @user.lastname %></td>
            <td><%= @user.email %></td>
            <td><%= @user.position %></td>
            <td><%= @user.client %></td>
        </tr>
      </table>
      <div>
        <p class = "page-navi"><%= link_to 'Edit Profile', edit_user_path %></p>
      </div>


  </div>
</div>