<div class = "container jumbotron">
  <div class="col-lg-2 colm-2">
    <div class="navs">Home</div>
    <div class="navs">Logs</div>
    <div class="navs">Leaves</div>
    <div class="navs">Calendar</div>
  </div>
  <div class = "panel col-lg-10 col-body">
    <div class = "panel-heading col-body-heading"><h4 class="panel-title"><%= @user.firstname %>'s Time Logs</h4></div>
      <table class = " panel-body table table-responsive table-bordered">
        <tr>
          <th>Date</th>
          <th>Log in</th>
          <th>Log out</th>
        </tr>

          <% @user.trackers.each do |track| %>
<!--          <tr>-->
            <td> <%= track.created_at.strftime("%b %d, %Y") %></td>

            <% if track.loggin_in != nil %>
              <td><%= track.loggin_in.strftime("%H:%M %p") %></td>
            <% else %>
              <td>No log</td>
            <% end %>
              <% if track.loggin_out != nil %>
            <td><%= track.loggin_out.strftime("%H:%M %p") %></td>
              <% else %>
            <td>No log</td>
           <% end %>


          </tr>

          <% end %>

      </table>
      <div class = "page-navi">
        <p><%= link_to 'Back to profile', user_path(current_user) %></p>
      </div>
  </div>
</div>